@model PartyInvites.Models.GuestResponse    
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="post">
        <p>
            <label asp-for="Name">Your Name:</label>
            <input type="type" name="name" value="Type your name" asp-for="Name" />
        </p>
        <p>
            <label asp-for="Email">Your Email:</label>
            <input type="email" name="email" value="Type your email" asp-for="Email" />
        </p>
        <p>
            <label asp-for="Phone">Your Phone:</label>
            <input type="number" name="phone" value="Type your phone" asp-for="Phone" />
        </p>
        <p>
            <label>Will you attend?</label>
            <select asp-for="WillAttend">
                <option value="">Choose and option</option>
                <option value="true">Yes, I'll be there</option>
                <option value="false">No, I can't</option>
            </select>
        </p>
        <button type="submit">Submit RSVP</button>
    </form>
</body>
</html>
